.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

footer{
	padding:10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
	

}

.card-hotel{
	flex:1 200px;
	
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;

}

.footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}