$yellow: #fffa10;
$red: #d94f45;
$green: #30db55;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0);
}

footer{
	padding:10px 10px 0 10px;
	background-color: $red;
	@include margenes(10px, 0);
	
	

}

.card-hotel{
	flex:1 200px;
	
	@include margenes(10px, 0);
}

.btn-reserva {
	width: 100%;

}

.footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}