@yellow:#fffa19;

.margenes(@top:0, @bottom:0){
  margin-top: @top;
  margin-bottom: @bottom;
}



.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(@top:50px, @bottom:0)
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(@top:10px, @bottom:0)
  }

.card-hotel {
  flex: 1 200px;
  .margenes(@top:10px, @bottom:0) 
  }

.btn-reserva {
  width: 100%; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }